@page "/notes"

<button @onclick="GetMessage" class="btn btn-primary">Edit</button>
<p>@message</p>

@code {
    string message = "Hello!";

    void GetMessage()
    {
        var file = Path.GetTempFileName();
        File.WriteAllText(file, "Enter message here");
        var p = System.Diagnostics.Process.Start("notepad", file);
        p.WaitForExit();
        message = File.ReadAllText(file);
    }
}