@page "/"
@inject INotificationService NotificationService

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<hr />

<button class="btn btn-primary" @onclick="ShowAlert">alert</button>
<button class="btn btn-primary" @onclick="ShowConfirm">confirm</button>


@code {

    private async Task ShowAlert()
    {
        await NotificationService.ShowAlertAsync("Messaggio in un alert.");
    }

    private async Task ShowConfirm()
    {
        var result = await NotificationService.ShowConfirmAsync("Sicuro?");
        await NotificationService.ShowAlertAsync($"Hai risposto {result}");
    }

}